workflows/JtK7ALKXfGqVWxaV.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-25T00:41:27.840Z",
  "id": "JtK7ALKXfGqVWxaV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Báo Giá Xe Tải - New",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        -300
      ],
      "id": "0b9da452-f8b0-4ce4-98f2-97ad304b054b",
      "name": "Telegram Trigger",
      "webhookId": "0032562c-6c48-4c3d-91a1-ef587b2aef66",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dify.ai/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer app-ucZMRDyCmWB73Upp7UQGLqe3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Google Sheets3').item.json['Conversation ID'] }}\",\n  \"user\": \"{{ $('Telegram Trigger').item.json.message.from.id }}\"\n} \n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -520
      ],
      "id": "de820789-a73c-4ad4-a016-8cad1101f957",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dify.ai/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer app-ucZMRDyCmWB73Upp7UQGLqe3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"\",\n  \"user\": \"{{ $('Telegram Trigger').item.json.message.from.id }}\"\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -360
      ],
      "id": "512c9a08-a528-47de-93df-c5f822ecc002",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('HTTP Request').item.json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        -520
      ],
      "id": "89a7cc91-75c6-4c90-872a-3c8d26216338",
      "name": "Telegram",
      "webhookId": "5e554cc0-32bd-4804-9132-f7e095c48edd",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1638909860,
          "mode": "list",
          "cachedResultName": "Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=1638909860"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Conversation ID": "={{ $('HTTP Request2').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "User ID"
          ],
          "schema": [
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        -360
      ],
      "id": "80058cdd-b0c2-4ceb-bb0f-dacea54836dc",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('HTTP Request2').item.json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -360
      ],
      "id": "6ebe8659-5c52-4b28-a287-e730790aa741",
      "name": "Telegram2",
      "webhookId": "5e554cc0-32bd-4804-9132-f7e095c48edd",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1638909860,
          "mode": "list",
          "cachedResultName": "Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=1638909860"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User ID",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        -340
      ],
      "id": "821474b0-5017-476a-8e43-80aecce6b68b",
      "name": "Google Sheets3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "765e1fa7-9baa-4132-8edb-30eeeee5ecdc",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $json['User ID'] }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        -400
      ],
      "id": "3b356828-1bfe-4d85-9632-22dd9469f00e",
      "name": "If1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-01T08:19:45.000Z",
  "versionId": "12d77092-5763-4187-83ea-1690394ceb5d"
}