workflows/jZQgbpCUr96GJB3J.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T07:49:33.586Z",
  "id": "jZQgbpCUr96GJB3J",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto Upload FB X YTB",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tXzukBy6b6kEUH8BEVwyGwm3mYqdwucB",
          "mode": "list",
          "cachedResultName": "Upload Video To Ytb n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tXzukBy6b6kEUH8BEVwyGwm3mYqdwucB"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        60,
        0
      ],
      "id": "12350220-949b-4d3d-86a2-56cbf4f92d37",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N6i6s2BSw6Ghb0GK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        0
      ],
      "id": "ca10f233-184b-4cab-8685-af403f3439ed",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N6i6s2BSw6Ghb0GK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "This is title",
        "regionCode": "VN",
        "categoryId": "18",
        "options": {
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "549118d5-ac91-46a9-96d3-309b8fb44265",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "AM105mV6g6hseJl0",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-23T14:21:10.000Z",
  "versionId": "0128d8af-7ddc-4b1a-aa91-a2c8b433c370"
}