workflows/NsLhz4fp9ZuDHGfC.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T09:52:16.905Z",
  "id": "NsLhz4fp9ZuDHGfC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Xe Tải - Lê Quốc Hùng",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f2d201a6-152a-47e0-9a49-7897e65ff868",
      "name": "Telegram Trigger",
      "webhookId": "56c97d63-b880-4f3a-a4d4-1d1cb2713cd1",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là 1 nhân viên thân thiện tư vấn - báo giá dịch vụ xe tải - xe cont (container) cho khách hàng. Hãy luôn mở đầu bằng câu hỏi khách hàng muốn đặt xe từ nơi đi - nơi đến và xác nhận lại nơi đi - nơi đến trước khi báo giá , loại xe gì (xe tải x Tấn hoặc xe cont - container 20 feet, 40 feet). Hãy trả lời dựa theo nhu cầu khách hàng cung cấp. \nBạn đang trong một cuộc hội thoại liên tục, hãy ghi nhớ những gì khách hàng đã nói để trả lời nối tiếp hợp lý. Nếu khách chỉ nói địa điểm đến hoặc loại xe, hãy kiểm tra thông tin trước đó để suy luận và tiếp tục báo giá hoặc hỏi lại để xác nhận chính xác thông tin. \n\nxe cont cũng là xe container. \nXe tải đơn vị trọng lượng là Tấn (T) tính tiền theo cột Tấn, xe cont đơn vị trọng lượng là feet. Tính tiền theo giá trị Feet\nTrả lời ngắn gọn, xúc tích, dễ hiểu.\n🔸 Với xe tải:\n- Giá chưa VAT\n- Chỉ gồm phí vận chuyển\n- Giờ vào TP: Xe 1T, 2T (09h-16h & 20h-06h); xe >2T (22h-06h)\n- Nhận buổi đêm phụ thu +200k\n\n🔸 Với xe container:\n- Giá chưa VAT\n- Chỉ gồm phí vận chuyển\n- Hạ xa Bình Dương, Đồng Nai: +300k\n- Q7 phụ thu: +400k/chiều\n\nNếu tuyến đường khách hỏi chưa có giá trong dữ liệu thì báo với khách chưa có giá, hãy liên hệ thông tin : henry.hung@sotrans.com.vn - SDT 0775943316.\nĐơn vị tiền là K, ví dụ 900 -> 900K",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "0ed9e45f-6410-43cd-b248-25476e7ed548",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1713519982,
          "mode": "list",
          "cachedResultName": "Giá LCL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=1713519982"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        460,
        200
      ],
      "id": "31e0292a-e03c-47e3-9ced-e1d3e2f60db0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "9a5923bf-0c4a-447b-b5df-6d8aefbfaad6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "1f0ec50e-db7e-495a-aa75-cdc26bbe6ecd",
      "name": "Telegram",
      "webhookId": "5c9b4da7-4cd3-4e6e-ad71-85449594e8d9",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 675864141,
          "mode": "list",
          "cachedResultName": "Xe Cont",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=675864141"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        580,
        200
      ],
      "id": "d366dd21-f402-435f-92f8-57006856cfb3",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1713519982,
          "mode": "list",
          "cachedResultName": "Xe Tải",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=1713519982"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "NƠI ĐI",
              "displayName": "NƠI ĐI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NƠI ĐẾN",
              "displayName": "NƠI ĐẾN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá xe 1 Tấn",
              "displayName": "Giá xe 1 Tấn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá xe 2 Tấn",
              "displayName": "Giá xe 2 Tấn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá xe 3.5 Tấn",
              "displayName": "Giá xe 3.5 Tấn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá xe 5 Tấn",
              "displayName": "Giá xe 5 Tấn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá xe 8 Tấn",
              "displayName": "Giá xe 8 Tấn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10T",
              "displayName": "10T",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        800,
        200
      ],
      "id": "dd60caac-66cc-4239-b487-9ab18286c051",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-3-fast-beta",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        180,
        220
      ],
      "id": "4b8bf92d-90a9-42ef-8a2d-6ab2cb059a73",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "r4vGbfq9f7pTNS4F",
          "name": "xAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T16:55:35.000Z",
  "versionId": "b59ca73d-6f54-4943-a034-759fa208d6ed"
}