workflows/NsLhz4fp9ZuDHGfC.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T09:52:16.905Z",
  "id": "NsLhz4fp9ZuDHGfC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Xe Tải - Lê Quốc Hùng",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        0
      ],
      "id": "f2d201a6-152a-47e0-9a49-7897e65ff868",
      "name": "Telegram Trigger",
      "webhookId": "56c97d63-b880-4f3a-a4d4-1d1cb2713cd1",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là 1 nhân viên thân thiện tư vấn - báo giá dịch vụ xe tải - xe cont (container) cho khách hàng. Hãy báo giá các lựa chọn cho khách hàng \nTrả lời ngắn gọn, xúc tích, không dài dòng.\nNếu khách hỏi giá xe với nơi đi hoặc nơi đến không khớp hoàn toàn với dữ liệu, hãy thử tìm dòng gần đúng nhất trong danh sách sheet. Dùng giá trị nếu độ khớp > 50%. Ưu tiên tìm theo cụm từ “chứa”, hoặc “gần giống về mặt âm vị”.\n\nSau khi báo giá xong với khách hàng hãy chú thích thêm:\n🔸 Với xe tải:\n- Giá chưa VAT\n- Chỉ gồm phí vận chuyển\n- Giờ vào TP: Xe 1T, 2T (09h-16h & 20h-06h); xe >2T (22h-06h)\n- Nhận buổi đêm phụ thu +200k\n\n🔸 Với xe container:\n- Giá chưa VAT\n- Chỉ gồm phí vận chuyển\n- Hạ xa Bình Dương, Đồng Nai: +300k\n- Q7 phụ thu: +400k/chiều\n\nNếu tuyến đường hoặc loại xe trọng lượng khách hỏi chưa có giá trong dữ liệu thì báo với khách chưa có giá, hãy liên hệ thông tin : henry.hung@sotrans.com.vn - SDT 0775943316.\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "0ed9e45f-6410-43cd-b248-25476e7ed548",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1713519982,
          "mode": "list",
          "cachedResultName": "Giá LCL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=1713519982"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        440,
        240
      ],
      "id": "31e0292a-e03c-47e3-9ced-e1d3e2f60db0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        240
      ],
      "id": "9a5923bf-0c4a-447b-b5df-6d8aefbfaad6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "1f0ec50e-db7e-495a-aa75-cdc26bbe6ecd",
      "name": "Telegram",
      "webhookId": "5c9b4da7-4cd3-4e6e-ad71-85449594e8d9",
      "credentials": {
        "telegramApi": {
          "id": "IdrrCPMQtILmnfj3",
          "name": "Báo Giá Xe Tải"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o",
          "mode": "list",
          "cachedResultName": "Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 675864141,
          "mode": "list",
          "cachedResultName": "Xe Cont",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ejjl9G0O0x_CJGmYEiV-H_URkfyzLI_M-iHxlBudG8o/edit#gid=675864141"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nơi đi",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
            },
            {
              "lookupColumn": "Nơi Đến",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        600,
        220
      ],
      "id": "d366dd21-f402-435f-92f8-57006856cfb3",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        220
      ],
      "id": "e13cfbe3-399a-4341-a60d-7b3afd7d2509",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zcfVShxOG85MEJBf",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T18:26:31.000Z",
  "versionId": "4f6136fb-1330-4a49-8cfd-33a504368b32"
}