workflows/P8Txx71Kad1Ek7hZ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "lọc data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lọc data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        []
      ]
    },
    "append": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T07:29:47.106Z",
  "id": "P8Txx71Kad1Ek7hZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -225
      ],
      "id": "392e0f27-ed33-4fcd-b577-55dadb306b84",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        -225
      ],
      "id": "9358785f-734f-40e4-bda8-cd2b2b4c5bcb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst checkers = [...new Set(allItems.map(i => i.json[\"Checker\"]))];\nreturn checkers.map(name => ({ json: { checker: name } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -150
      ],
      "id": "f0438d3d-b9d4-4d5a-927f-f0c755b8ab69",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb48b053-5dab-4163-9188-a0029fe12e64",
              "name": "nhanvien",
              "value": "={{ $json.checker }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -150
      ],
      "id": "d1442e7a-5091-4973-b7e4-db06d07abb14",
      "name": "Edit Fields",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.checker }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        -50
      ],
      "id": "1bc34746-ab25-47e0-8d22-a14723424eeb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "checker",
        "include": "selectedOtherFields",
        "fieldsToInclude": "checker",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        -150
      ],
      "id": "3912a61c-8b40-488d-85dd-261b92dce9d1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.checker }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1140,
        25
      ],
      "id": "61e04227-9881-4f72-9be8-83cd11bb4322",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1140,
        -400
      ],
      "id": "8356f504-e166-48ee-9fae-f328c3b2aa6f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const idCount = {};\n\nfor (const item of items) {\n  const id = item.json['TIKTOK Order ID'];\n  idCount[id] = (idCount[id] || 0) + 1;\n}\n\nreturn items.filter(item => {\n  const id = item.json['TIKTOK Order ID'];\n  return idCount[id] === 1;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -400
      ],
      "id": "d96bca5d-a285-4daf-ba6f-ad8e58123e42",
      "name": "lọc data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2020,
        -325
      ],
      "id": "d93aaa9f-8957-4020-bcf7-16570f6bf519",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1580,
        -325
      ],
      "id": "7ad7e3f5-21ea-4f2d-8835-1d84aca8c589",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n\n  if (!data.checker || data.checker === 'undefined') {\n    data.checker = data.Checker;\n  }\n\n  if (!data.nhanvien || data.nhanvien === 'undefined') {\n    data.nhanvien = data.Checker;\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -325
      ],
      "id": "45118392-4b14-48af-9a30-f5106aa53db7",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const id = item.json['TIKTOK Order ID'];\n\n  return id && id !== 'undefined' && id !== '';\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        -520
      ],
      "id": "6ce93823-c0a3-417e-9e69-40baf307e96f",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.checker }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK Order ID": "={{ $json['TIKTOK Order ID'] }}",
            "Order Date": "={{ $json[\"Order Date\"] }}",
            "Address": "={{ $json.Address }}",
            "LINK": "={{ $json.LINK }}",
            "VOTE": "={{ $json.VOTE }}",
            "Giá SP": "={{ $json[\"Giá SP\"] }}",
            "SL": "={{ $json.SL }}",
            "VNĐ": "={{ $json[\"VNĐ\"] }}",
            "Mail": "={{ $json.Mail }}",
            "Order ID": "={{ $json[\"Order ID\"] }}",
            "TRACK": "={{ $json.TRACK }}",
            "Trạng thái xử lý": "={{ $json[\"Trạng thái đang giao xử lý\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK Order ID",
              "displayName": "TIKTOK Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOTE",
              "displayName": "VOTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá SP",
              "displayName": "Giá SP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SL",
              "displayName": "SL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VNĐ",
              "displayName": "VNĐ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TRACK",
              "displayName": "TRACK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái xử lý",
              "displayName": "Trạng thái xử lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        -325
      ],
      "id": "af9df23c-46e6-472d-a9cf-759260eb23a6",
      "name": "append",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-24T09:00:58.000Z",
  "versionId": "22912ffd-20f1-4421-9ba7-a39d6ba5c73c"
}