workflows/P8Txx71Kad1Ek7hZ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "lọc data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lọc data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "thêm dữ liệu mới",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "xóa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "thêm dữ liệu thay đổi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "add sheet hủy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add sheet hủy": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xóa": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thêm dữ liệu thay đổi": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thêm dữ liệu mới": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T07:29:47.106Z",
  "id": "P8Txx71Kad1Ek7hZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -300
      ],
      "id": "392e0f27-ed33-4fcd-b577-55dadb306b84",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        -300
      ],
      "id": "9358785f-734f-40e4-bda8-cd2b2b4c5bcb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst checkers = [...new Set(allItems.map(i => i.json[\"Checker\"]))];\nreturn checkers.map(name => ({ json: { checker: name } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        150
      ],
      "id": "f0438d3d-b9d4-4d5a-927f-f0c755b8ab69",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb48b053-5dab-4163-9188-a0029fe12e64",
              "name": "nhanvien",
              "value": "={{ $json.checker }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        150
      ],
      "id": "d1442e7a-5091-4973-b7e4-db06d07abb14",
      "name": "Edit Fields",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        175
      ],
      "id": "1bc34746-ab25-47e0-8d22-a14723424eeb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "checker",
        "include": "selectedOtherFields",
        "fieldsToInclude": "checker",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        150
      ],
      "id": "3912a61c-8b40-488d-85dd-261b92dce9d1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.checker }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        180
      ],
      "id": "61e04227-9881-4f72-9be8-83cd11bb4322",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1140,
        -600
      ],
      "id": "8356f504-e166-48ee-9fae-f328c3b2aa6f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const idCount = {};\n\nfor (const item of items) {\n  const id = item.json['TIKTOK Order ID'];\n  idCount[id] = (idCount[id] || 0) + 1;\n}\n\nreturn items.filter(item => {\n  const id = item.json['TIKTOK Order ID'];\n  return idCount[id] === 1;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -300
      ],
      "id": "d96bca5d-a285-4daf-ba6f-ad8e58123e42",
      "name": "lọc data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1800,
        -100
      ],
      "id": "d93aaa9f-8957-4020-bcf7-16570f6bf519",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1580,
        -100
      ],
      "id": "7ad7e3f5-21ea-4f2d-8835-1d84aca8c589",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c65771a-22c0-4629-af13-b773f37eceab",
              "name": "TIKTOK Order ID",
              "value": "={{ $json['TIKTOK Order ID'] }}",
              "type": "string"
            },
            {
              "id": "c7dd1930-aa68-426b-8122-c69b9a14bf32",
              "name": "Order Date",
              "value": "={{ $json['Order Date'] }}",
              "type": "string"
            },
            {
              "id": "f7ea20fd-4ffa-4695-8d98-dcc32b2c1fcb",
              "name": "Address",
              "value": "={{ $json.Address }}",
              "type": "string"
            },
            {
              "id": "29dbd2a7-5240-4d2f-bff9-0c4bd26d0274",
              "name": "LINK",
              "value": "={{ $json.LINK }}",
              "type": "string"
            },
            {
              "id": "ce16a5c4-611d-4fbb-b0ab-d8fa5cfcf47d",
              "name": "VOTE",
              "value": "={{ $json.VOTE }}",
              "type": "number"
            },
            {
              "id": "b84e7525-8694-493a-82ef-7313132f6402",
              "name": "Giá SP",
              "value": "={{ $json['Giá SP'] }}",
              "type": "number"
            },
            {
              "id": "d68fb636-fd19-4fa7-a0fd-2b910da2e0a3",
              "name": "SL",
              "value": "={{ $json.SL }}",
              "type": "number"
            },
            {
              "id": "10ebdea1-3f1f-4bfe-baa7-a60ba881528f",
              "name": "VNĐ",
              "value": "={{ $json['VNĐ'] }}",
              "type": "number"
            },
            {
              "id": "bf2ee7d6-cda8-41d4-a773-5228c6cd21cf",
              "name": "Mail",
              "value": "={{ $json.Mail }}",
              "type": "string"
            },
            {
              "id": "b4f6d937-60b9-4990-8610-c8677737d8c8",
              "name": "Order ID",
              "value": "={{ $json['Order ID'] }}",
              "type": "string"
            },
            {
              "id": "68da3381-08f4-4d71-b59b-3f444fe3bb8a",
              "name": "TRACK",
              "value": "={{ $json.TRACK }}",
              "type": "string"
            },
            {
              "id": "a5cf55f3-8e65-4cb3-88ea-af9130c00199",
              "name": "Trạng thái xử lý",
              "value": "={{ $json['Trạng thái xử lý'] }}",
              "type": "string"
            },
            {
              "id": "6e3f7b24-f922-4fe2-b44a-241a1c95e4db",
              "name": "checker",
              "value": "={{ $('Loop Over Items').item.json.checker }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        280
      ],
      "id": "198c761d-425b-4592-a6d5-3707176b224d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const allRows = items;\nconst checkerByID = {};\n\n// Bước 1: Gộp checker theo TikTok Order ID\nfor (const row of allRows) {\n  const id = row.json['TIKTOK Order ID'];\n  const checker = row.json.checker;\n\n  if (id && checker && checker !== 'undefined') {\n    checkerByID[id] = checker;\n  }\n}\n\n// Bước 2: Bổ sung checker nếu đang undefined\nconst output = allRows.map(row => {\n  const id = row.json['TIKTOK Order ID'];\n\n  if ((!row.json.checker || row.json.checker === 'undefined') && checkerByID[id]) {\n    row.json.checker = checkerByID[id];\n  }\n\n  return row;\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -700
      ],
      "id": "17e646c3-b007-4744-ac96-d5b1ecaa6f71",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(row => {\n  const checker = row.json['Checker'];\n  return checker && checker !== 'undefined';\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        -700
      ],
      "id": "91c64b5f-0989-4bc7-8dbc-8eb3203753af",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(row => {\n  const checker = row.json['checker'];\n  const Checker = row.json['Checker'];\n\n  return (\n    checker !== Checker &&\n    checker !== undefined &&\n    Checker !== undefined\n  );\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -700
      ],
      "id": "9a4a79ee-0d19-4805-8e90-38bc4e723606",
      "name": "Code5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2020,
        -450
      ],
      "id": "d4987524-948f-4853-97fd-bd50a387a138",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.checker }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        -375
      ],
      "id": "f392d66a-fe23-4a09-ba98-43b90343a345",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2460,
        -500
      ],
      "id": "3dabc8c9-2249-4c97-b2be-598e9395df0b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const groups = {};\nfor (const item of items) {\n  const id = item.json[\"TIKTOK Order ID\"];\n  if (!groups[id]) groups[id] = [];\n  groups[id].push(item);\n}\n\nconst result = [];\n\nfor (const id in groups) {\n  const group = groups[id];\n  if (group.length === 1) continue;\n\n  const ref = group.find(i =>\n    i.json.Checker !== undefined &&\n    i.json.checker !== undefined\n  );\n\n  const target = group.find(i =>\n    i.json.Checker === undefined || i.json.checker === undefined\n  );\n\n  if (ref && target) {\n    target.json.Checker = ref.json.Checker;\n    target.json.checker = ref.json.checker;\n    result.push(target);\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -500
      ],
      "id": "9e2a575a-9acf-4c42-ae06-75237f4a2439",
      "name": "Code6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2020,
        -900
      ],
      "id": "436fc3ba-4f8a-4e37-8900-2fdfe321cf06",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2240,
        -700
      ],
      "id": "747ed84a-79db-40a6-8ae5-ada580254679",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66106ca2-11eb-441c-a962-075170cb9767",
              "name": "TIKTOK Order ID",
              "value": "={{ $json['TIKTOK Order ID'] }}",
              "type": "string"
            },
            {
              "id": "f83e5b46-d596-4925-9f92-15630aad9cd6",
              "name": "Order Date",
              "value": "={{ $json['Order Date'] }}",
              "type": "string"
            },
            {
              "id": "1e09e900-5ef3-4805-b71a-364696f5f6c2",
              "name": "Address",
              "value": "={{ $json.Address }}",
              "type": "string"
            },
            {
              "id": "47041d11-cdae-4955-809f-15ff51f0c251",
              "name": "LINK",
              "value": "={{ $json.LINK }}",
              "type": "string"
            },
            {
              "id": "befb491e-a81c-4239-b665-423c51bfdada",
              "name": "VOTE",
              "value": "={{ $json.VOTE }}",
              "type": "number"
            },
            {
              "id": "6cbcc8ed-2946-48d4-a518-7eeb954fd2b6",
              "name": "Giá SP",
              "value": "={{ $json['Giá SP'] }}",
              "type": "number"
            },
            {
              "id": "82d1b258-cfd4-4e06-adf7-d4e32bb5b5a4",
              "name": "VNĐ",
              "value": "={{ $json['VNĐ'] }}",
              "type": "number"
            },
            {
              "id": "393ea08c-53b3-4d7c-aed4-987d65961a73",
              "name": "Mail",
              "value": "={{ $json.Mail }}",
              "type": "string"
            },
            {
              "id": "960f5aa9-25f9-4f56-a839-634a8b38d61a",
              "name": "Order ID",
              "value": "={{ $json['Order ID'] }}",
              "type": "string"
            },
            {
              "id": "bcc0a8a0-7931-437b-b801-280ea8fccd05",
              "name": "TRACK",
              "value": "={{ $json.TRACK }}",
              "type": "string"
            },
            {
              "id": "37fdecbd-36c7-4b15-b0d2-79f9b48213b2",
              "name": "người hủy",
              "value": "={{ $json.checker }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        -700
      ],
      "id": "fa39d1cf-9000-4d54-8f24-6fdec1355927",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        -250
      ],
      "id": "a48959d5-82e3-4faa-98be-899f508cd0d0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 520219576,
          "mode": "list",
          "cachedResultName": "Tab_HUY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit#gid=520219576"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK Order ID": "={{ $json['TIKTOK Order ID'] }}",
            "Order Date": "={{ $json['Order Date'] }}",
            "Address": "={{ $json.Address }}",
            "LINK": "={{ $json.LINK }}",
            "VOTE": "={{ $json.VOTE }}",
            "Giá SP": "={{ $json['Giá SP'] }}",
            "Checker": "={{ $json['người hủy'] }}",
            "TRACK": "={{ $json.TRACK }}",
            "Order ID": "={{ $json['Order ID'] }}",
            "Mail": "={{ $json.Mail }}",
            "VNĐ": "={{ $json['VNĐ'] }}",
            "SL": "={{ $json['Giá SP'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK Order ID",
              "displayName": "TIKTOK Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOTE",
              "displayName": "VOTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá SP",
              "displayName": "Giá SP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SL",
              "displayName": "SL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VNĐ",
              "displayName": "VNĐ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TRACK",
              "displayName": "TRACK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checker",
              "displayName": "Checker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2460,
        -700
      ],
      "id": "5ccfbdab-5bdd-486e-aead-368c2b8d1972",
      "name": "add sheet hủy",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.checker }}",
          "mode": "name"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2900,
        -500
      ],
      "id": "e32b7033-6619-4df4-9830-479c3198f404",
      "name": "xóa",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Checker }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK Order ID": "={{ $json['TIKTOK Order ID'] }}",
            "TRACK": "={{ $json.TRACK }}",
            "Order ID": "={{ $json['Order ID'] }}",
            "Mail": "={{ $json.Mail }}",
            "VNĐ": "={{ $json['VNĐ'] }}",
            "SL": "={{ $json.SL }}",
            "Giá SP": "={{ $json['Giá SP'] }}",
            "VOTE": "={{ $json.VOTE }}",
            "LINK": "={{ $json.LINK }}",
            "Address": "={{ $json.Address }}",
            "Order Date": "={{ $json['Order Date'] }}",
            "Trạng thái xử lý": "={{ $json['Trạng thái đang giao xử lý'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK Order ID",
              "displayName": "TIKTOK Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOTE",
              "displayName": "VOTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá SP",
              "displayName": "Giá SP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SL",
              "displayName": "SL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VNĐ",
              "displayName": "VNĐ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TRACK",
              "displayName": "TRACK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái xử lý",
              "displayName": "Trạng thái xử lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        -900
      ],
      "id": "1ed995e3-a5d6-44f4-b7ed-c91a387a33df",
      "name": "thêm dữ liệu thay đổi",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU",
          "mode": "list",
          "cachedResultName": "Job 04/23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T6un2p446wOz5BTlipqP56BIZspCKU2l666D2i5nFpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Checker }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK Order ID": "={{ $json['TIKTOK Order ID'] }}",
            "Order ID": "={{ $json['Order ID'] }}",
            "Mail": "={{ $json.Mail }}",
            "VNĐ": "={{ $json['VNĐ'] }}",
            "SL": "={{ $json.SL }}",
            "Giá SP": "={{ $json['Giá SP'] }}",
            "VOTE": "={{ $json.VOTE }}",
            "LINK": "={{ $json.LINK }}",
            "Address": "={{ $json.Address }}",
            "Order Date": "={{ $json['Order Date'] }}",
            "TRACK": "={{ $json.TRACK }}",
            "Trạng thái xử lý": "={{ $json['Trạng thái đang giao xử lý'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK Order ID",
              "displayName": "TIKTOK Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOTE",
              "displayName": "VOTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giá SP",
              "displayName": "Giá SP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SL",
              "displayName": "SL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VNĐ",
              "displayName": "VNĐ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TRACK",
              "displayName": "TRACK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái xử lý",
              "displayName": "Trạng thái xử lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2020,
        -50
      ],
      "id": "af9df23c-46e6-472d-a9cf-759260eb23a6",
      "name": "thêm dữ liệu mới",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YoIXrvHkddxXAEp7",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-25T09:33:52.000Z",
  "versionId": "1ce42a61-e3b9-48b0-b793-0f264860c3a6"
}